VERSIE {{Version.name}}

RELEASE NOTES:

{{#All}}
	{{#Description}}
	* {{Description}}
	{{/Description}}
{{/All}}

ISSUES:

{{#ByCategory}}
{{#Name}}
[{{Name}}]
{{/Name}}
{{^Name}}
[Algemeen]
{{/Name}}
    {{#TrackerGroup}}
    {{#ReleaseNotes}}
    * [{{Source.tracker.Name}}-{{IssueNumber}}] {{Subject}} {{Description}}
    {{/ReleaseNotes}}
    {{/TrackerGroup}}

{{/ByCategory}}